# Ignore node_modules directory
node_modules/

# Ignore built output
dist/

# Ignore environment variables file
.env

# Ignore TypeScript build artifacts
*.js
*.js.map

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs and debugging files
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

ollama/
generated/
dist/

postgres-data/